<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hongone.homepage.board.QnaBoardMapper">

    <sql id="searchCondition">
        <choose>
            <when test="searchType == 'search_title'">
                qna_title LIKE #{searchKeyword}
            </when>
            <when test="searchType == 'search_writer'">
                qna_writer LIKE #{searchKeyword}
            </when>
            <when test="searchType == 'search_content'">
                qna_content LIKE #{searchKeyword}
            </when>
            <otherwise>
                1 = 1 <!-- 조건이 없으면 전체 검색 -->
            </otherwise>
        </choose>
    </sql>

    <select id="getQnaBoards" resultType="QnaBoard">
        SELECT
            qna_no,
            qna_type,
            qna_title,
            qna_writer,
            DATE_FORMAT(qna_date, '%Y-%m-%d') as qna_date,
            qna_status
        FROM qnaboard
        WHERE
            <include refid="searchCondition"/>
        AND qna_delYn="N"
        ORDER BY qna_no DESC
        LIMIT #{size} OFFSET #{offset};
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM qnaboard
        WHERE
            <include refid="searchCondition"/>
        AND qna_delYn="N"
    </select>

    <insert id="addQnaBoard">
        INSERT INTO qnaboard (qna_type, qna_title, qna_writer, qna_content, qna_date, qna_update_date, qna_status, qna_delYn)
        VALUES (#{qna_type}, #{qna_title}, #{qna_writer}, #{qna_content}, NOW(), NOW(), "0", "N")
    </insert>

    <select id="findByNo" resultType="QnaBoard">
        SELECT
            qna_no,
            qna_type,
            qna_title,
            qna_writer,
            qna_content
        FROM qnaboard
        WHERE qna_no=#{qna_no}
        AND qna_delYn="N"
    </select>

    <update id="editQnaBoard">
        UPDATE qnaboard
        SET
            qna_type=#{qna_type},
            qna_title=#{qna_title},
            qna_writer=#{qna_writer},
            qna_content=#{qna_content},
            qna_update_date=NOW()
        WHERE qna_no=#{qna_no}
    </update>

    <update id="deleteQnaBoard">
        UPDATE qnaboard
        SET
            qna_delYn="Y",
            qna_update_date=NOW()
        WHERE qna_no=#{qna_no}
    </update>

</mapper>
